.banner{
  text-align: center;
  background-image: url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px rgb(130, 130, 130);
}
.banner h1 {
  color: #E30613;
  font-size: 50px;
}
.banner p {
  color: black;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}